
data_dir="/opt/fetchlibris"

# Arbetskataloger
done_dir="$data_dir/done"
log_dir="$data_dir/log"
begun_dir="$data_dir/begun"

# E-postmottagare
mail_user="gunda@ub.gu.se,isabel.folkesson@ub.gu.se,martin.oxelqvist@ub.gu.se"

